<article class="post card">
    <div class="title card-header">
        <h3><a href="{{post_url}}" target="_blank">{{title}}</a></h3>
        <span>({{format_url post_url}})</span>
    </div>
    <div class="card-body">
     <div class="address">
        <p class="card-text">Address: {{address}}</p>
    </div>
    <div class="service_type">
        <p class="card-text">Type of Service: {{service_type}}</p>
    </div>
        <div class="cost">
        <p class="card-text">Cost: ${{cost}}</p>
    </div>
    </div>
    <div class="meta">
        created by {{user.username}} on {{format_date created_at}}
        |
        <a class="btn btn-primary" href="/post/{{id}}">{{comments.length}} {{format_plural "Review" comments.length}}</a>
    </div>
</article>