<article class="services card">
    <div class="title card-header">
        <a href=http://{{provider.provider_url}} target="_blank">{{service_name}}</a>
        {{log provider}}
        <div class="provider_name">
            <p>Provider Name: {{provider.provider_name}}</p>
        </div>

    </div>
    <div class="card-body">
        <div class="address">
            <p>Address: {{provider.address}}, {{provider.address_city}}, {{provider.address_state}}
                {{provider.address_zip}}</p>
        </div>

        <div class="provider_url">
            <p>Provider Link: <a href=http://{{provider.provider_url}} target="_blank">{{provider.provider_url}}</a></p>

        </div>

        <div class="service_category">
            <p>Type of Service: {{service_category}} </p>
        </div>
        <div class="cost">
            <p>Cost: ${{cost}}</p>
        </div>

    </div>

    <div class="meta">
        created by {{provider.provider_name}} on {{format_date created_at}}
        |
        <a href="/services/{{id}}">{{comments.length}} {{format_plural "note" comments.length}}</a>
    </div>
</article>