<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Provider
    </h2>
    <form class="edit-post-form">
        <p>Provider Name</p>
        <div>
            <input name="provider-name" type="text" value="{{post.title}}" />
        </div>
        <p>Address</p>
        <div>
            <input name="address" type="text" value="{{post.address}}" />
        </div>
        <p>Provider Link</p>
        <div>
            <input name="post-url" type="text" value="{{post.post_url}}" />
        </div>
        <p>Service Type</p>
        <div>
            <input name="service_type" type="text" value="{{post.service_type}}" />
        </div>
        <p>Cost</p>
        <div>
            <input name="cost" type="number" value="{{post.cost}}" />
        </div>
        <div>
            {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button type="submit">Save provider</button>
        <button type="button" class="delete-post-btn">Delete provider</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>